.ContactForm {
  max-width: 500px;
  margin: 0 auto;

  &__group {
    margin-bottom: 16px;
    display: flex;
    align-items: baseline;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-width: 0 0 2px;
  }

  &__flash {
    display: none;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    padding: 12px 8px;
    overflow: hidden;
    transition: height 0.2s ease;
    margin-bottom: 16px;

    &.is-open {
      display: block;
    }

    &.is-success {
      color: #beffd8;
      border-color: #beffd8;
    }

    &.is-failure {
      color: #ff8989;
      border-color: #ff8989;
    }
  }

  &__label {
    display: block;
    color: #fff;
    margin-right: 4px;
    width: 72px;
    text-transform: uppercase;
    font-family: font(oswald);
  }

  &__input {
    width: 100%;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    color: palette(orange);
    padding: 4px;

    &:invalid {
      box-shadow: none;
    }

    &::selection {
      color: #000;
      background-color: palette(orange);
    }

    &--message {
      resize: none;
    }
  }

  &__submit {
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-family: font(oswald);
    padding: 12px 8px;
    font-size: 18px;
    transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
    cursor: pointer;

    @include haf() {
      background-color: #fff;
      color: palette(blue);
    }

    &:disabled {
      opacity: 0.6;
    }
  }
}
