$_font-oswald: 'Oswald', Impact, 'Franklin Gothic Bold', sans-serif;
$_font-public: 'Public Sans', sans-serif;

$fonts: (
  body: $_font-public,
  heading: $_font-oswald
);

@function font($font) {
  @return map-get($fonts, $font);
}
