<div class="Site__sidebar">
  <nav class="Sidebar__nav Nav" data-nav aria-label="main navigation">
    <ul class="Nav__menu">
      <li class="Nav__item">
        <a class="Nav__link is-active" href="#Home" data-nav-link>
          Home
        </a>
      </li>
      <li class="Nav__item">
        <a class="Nav__link" href="#Work" data-nav-link>
          Work
        </a>
      </li>
      <li class="Nav__item">
        <a class="Nav__link" href="#Contact" data-nav-link>
          Contact
        </a>
      </li>
    </ul>
  </nav>
</div>
