<div class="Site__sidebar">
  <nav class="Sidebar__nav Nav" data-nav aria-label="main navigation">
    <ul class="Nav__menu">
      <li class="Nav__item">
        <a class="Nav__link is-active" href="#Home" data-nav-link>
          <span class="Nav__icon fas fa-home fa-fw"></span> <span class="Nav__text">Home</span>
        </a>
      </li>
      <li class="Nav__item">
        <a class="Nav__link" href="#Work" data-nav-link>
          <span class="Nav__icon fas fa-laptop fa-fw"></span> <span class="Nav__text">Work</span>
        </a>
      </li>
      <li class="Nav__item">
        <a class="Nav__link" href="#Contact" data-nav-link>
          <span class="Nav__icon fas fa-envelope fa-fw"></span> <span class="Nav__text">Contact</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
