<aside class="Site__sidebar Sidebar">
  <nav class="Sidebar__nav Nav" role="navigation" data-nav aria-label="main navigation">
    <ul class="Nav__menu" role="menubar">
      <li class="Nav__item"><a class="Nav__link is-active" href="#Home" data-nav-link role="menuitem"><span class="Nav__text">Home</span> <span class="Nav__icon fas fa-home fa-fw" title="Home"></span></a></li>
      <li class="Nav__item"><a class="Nav__link" href="#Work" data-nav-link role="menuitem"><span class="Nav__text">Work</span> <span class="Nav__icon fas fa-laptop fa-fw" title="Work"></span></a></li>
      <li class="Nav__item"><a class="Nav__link" href="#Contact" data-nav-link role="menuitem"><span class="Nav__text">Contact</span> <span class="Nav__icon fas fa-envelope fa-fw" title="Contact"></span></a></li>
    </ul>
  </nav>
</aside>
