.ContactForm {
  max-width: 500px;
  margin: 0 auto;

  &__group {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &__flash {
    display: none;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    padding: 12px 8px;
    overflow: hidden;
    transition: height 0.2s ease;
    margin-bottom: 16px;

    &.is-open {
      display: block;
    }

    &.is-success {
      color: #beffd8;
      border-color: #beffd8;
    }

    &.is-failure {
      color: #ffbaba;
      border-color: #ffbaba;
    }
  }

  &__label {
    display: block;
    color: palette(orange);
    margin-right: 4px;
    width: 72px;
    text-transform: uppercase;
    font-family: font(heading);

    &::selection {
      color: #000;
      background-color: palette(orange);
    }
  }

  &__input {
    width: 100%;
    font-size: 16px;
    margin-bottom: 0;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 4px;
    transition: all 0.2s ease;

    .is-submitted &:invalid,
    &.is-touched:invalid {
      box-shadow: none;
      border-color: #ffbaba;

      & + .ContactForm__error {
        display: block;
      }
    }

    &::selection {
      color: #000;
      background-color: #fff;
    }

    &:focus {
      outline: none;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 0 4px rgba(255,255,255,0.2);
    }

    &--message {
      resize: none;
    }
  }

  &__error {
    display: none;
    color: #ffbaba;
    font-size: 14px;
  }

  &__submit {
    width: 100%;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-family: font(heading);
    padding: 12px 8px;
    font-size: 18px;
    transition: background-color 0.2s ease, color 0.2s ease, opacity 0.2s ease;
    cursor: pointer;

    @include haf() {
      background-color: #fff;
      color: palette(blue);
    }

    &:disabled {
      opacity: 0.6;
    }
  }
}
