.Example {
  position: relative;

  &__inner {
    height: 100%;
  }

  &__link {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: palette(gray);
    border-radius: 6px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);

    @include haf() {
      .Example__image {
        filter: grayscale(100%) blur(1px);
        opacity: 0.4;
        transition-delay: 0s;
      }

      .Example__text {
        opacity: 1;
        transform: translate(-50%, -50%);
        transition-delay: 0.2s;
      }

      .Example__title {
        opacity: 1;
        transform: translate(-50%, -65%);
        transition-delay: 0s;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.2s ease, filter 0.2s ease;
    transition-delay: 0.2s;
    filter: none;
  }

  &__title,
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    backface-visibility: hidden;
    text-shadow: 2px 2px 2px palette(gray, $opacity: 0.9);
    font-size: 24px;
    font-family: font(heading);
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }

  &__title {
    display: flex;
    height: 75%;
    width: 75%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-delay: 0.2s;
  }

  &__text {
    top: 75%;
    font-size: 16px;
  }
}
