.Nav {
  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    @include mq($from: m) {
      background: transparent;
      flex-direction: column;
      width: auto;
    }
  }

  &__item {
    margin: 0 32px 0 0;

    @include mq($from: m) {
      margin: 0 0 16px 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease;

    &[data-cross] {
      color: transparent;
      background-clip: text;
    }

    @include mq($from: m) {
      @for $i from 1 through 99 {
        &[data-section="Home"][data-cross="#{$i}"] {
          color: transparent;
          background-image: linear-gradient(#fff $i * 1%, #000 $i * 1%);
        }

        &[data-section="Work"][data-cross="#{$i}"] {
          color: transparent;
          background-image: linear-gradient(#000 $i * 1%, #fff $i * 1%);
        }
      }
    }

    &[data-section="Work"] {
      color: palette(gray);
    }

    &.is-active {
      @include mq($from: m) {
        border-color: palette(orange);
      }
    }

    &:hover {
      border-color: palette(orange);
    }

    &:focus {
      outline: 2px solid;
    }
  }
}
